$tablet: 720px;
$tablet1: 721px;
$laptop: 1024px;
$laptop1: 1025px;

:root {
  --green: #6cbe45;
  --pink: #c53c8e;
}

.main-nav ul li a {letter-spacing: .05em;}

.main-navigation:not(.slideout-navigation) {
	@media (min-width: $tablet) {
		border-bottom: 1px solid rgba(0,0,0,.1);
		border-top: 1px solid rgba(0,0,0,.1);
		ul li {
			a {display: inline-block;}
			&:after {
				content: "\2022";
				display: inline-block;
				margin-top: -4px;
				vertical-align: middle;
			}
			&:last-child:after {content: "";}
		}
	}
}

.inside-article {
	@media (max-width: $tablet) {padding-bottom:0 !important;}
	.entry-content .read-more-container {
		a {color: var(--green);}
		@media (max-width: $tablet) {text-align: right;}
	}
	.entry-meta {
		a {letter-spacing: .1em;}
		.post-navigation {margin-top: 2em;}
	}
	.entry-title a {color: var(--pink);}
}

.home .inside-article,
.archive .inside-article {
	@media (max-width: $tablet) {
		display: flex;
		flex-direction: column;
		.entry-meta > span {border: none;}
		.entry-content, .entry-summary {order: 2;}
	}
	@media (min-width: $tablet1) {
		align-items: start;
		display: grid;
		grid-template-columns: 1fr 2em 4fr;
		grid-template-rows: auto;
		grid-template-areas: "image image image"
			"header header header"
			"meta . content";
	}
	.entry-content, .entry-summary {
		@media (max-width: $tablet) {
			margin-top: 1em;
			order: 2;
		}
		@media (min-width: $tablet1) {
			grid-area: content;
			margin-top: 0;
		}
	}
	.entry-header {
		@media (min-width: $tablet1) {
			grid-area: header;
			margin-bottom: 2em;
		}
	}
	.entry-meta {
		@media (max-width: $tablet) {margin-top: 1em;}
		@media (min-width: $tablet1) {
			grid-area: meta;
			margin-top: 0;
		}
		span {
			border-bottom: 1px solid rgba(0,0,0,.1);
			@media (max-width: $tablet) {border: none;}
			@media (min-width: $tablet1) {
				padding-bottom: 1em;
				padding-top: 1em;
			}
			&:first-child {padding-top: 0;}
			&:last-child {border: none;}
		}
	}
	.post-image {
		@media (max-width: $tablet) {margin-bottom: .5em;}
		@media (min-width: $tablet1) {grid-area: image;}
	}
}

.home, .archive, .single {
	.inside-article .post-navigation {
		.nav-next .next {
			&::after {
				content: "\f105";
				display: inline-block;
				font-family: GeneratePress;
				font-style: normal;
				font-variant: normal;
				line-height: 1;
				margin-left: .6em;
				position: relative;
				text-align: center;
				text-decoration: inherit;
				text-rendering: auto;
				width: 13px;
			}
			&::before {content: "";}
		}
		@media (min-width: $tablet1) {
			display: flex;
			justify-content: space-evenly;
			.nav-previous {text-align: left;}
			.nav-next {text-align: right;}
		}
	}
}

.paging-navigation {
	color: var(--pink);
	text-align: center;
	a {color: var(--pink);}
	.current {color: #000;}
}

.site-footer .footer-widgets {
	color: #fff;
	.footer-widgets-container .inside-footer-widgets {
		margin: 0;
		h2 {
			color: #fff;
			@media (max-width: $laptop) {text-align: center;}
		}
		h2, aside {margin-bottom: 1em;}
		.footer-widget-1 {
			#subscribe-text {
				padding-bottom: .8em;
				@media (max-width: $laptop) {text-align: center;}
			}
			#subscribe-submit {text-align: right;}
		}
		.footer-widget-2 {
			text-align: center;
		}
		.footer-widget-3 {
			@media (min-width: $laptop1) {text-align: right;}
			ul {
				@media (max-width: $laptop) {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}
				li {
					@media (max-width: $laptop) {padding-right: 20px;}
				}
			}
		}
		.inner-padding {padding: 0 20px !important;}
	}
}


.error404 .entry-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	@media (min-width: 960px), handheld and (orientation: portrait) {
		flex-direction: row;
	}
	& > div {
		@media (max-width: 959px), handheld and (orientation: portrait) {
			margin-bottom: 3em !important;
		}
	}
}

.generate-back-to-top,
.generate-back-to-top:visited {
  margin-bottom: 60px;
}
